@use "../../styles/Variables.module.scss" as variables;
@use "../../styles/Fonts.module.scss";
@use "../../styles/Mixins.module.scss" as mixins;

.support-panel {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 998;

    &__icon {
        display: flex;
        gap: 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 16px;
    }

    &__icon-link {
        position: relative;
        display: flex;
        fill: black;

        .pdf-icon {
            transition: fill 0.3s ease;

            &:hover {
                fill: variables.$pdf-color;
            }
        }

        .github-icon {
            transition: fill 0.3s ease;

            &:hover {
                fill: variables.$github-color;
            }
        }

        .linked-icon {
            transition: fill 0.3s ease;

            &:hover {
                fill: variables.$linkedin-color;
            }
        }
    }

    &__tooltip {
        position: absolute;
        top: 50%;
        left: 60px;
        transform: translateY(-50%);
        white-space: nowrap;
        background-color: black;
        padding: 10px 15px;
        border-radius: 8px;
        @include mixins.text-styles(16px, white, Tight);

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 10px 7px 0;
            border-color: transparent black transparent transparent;
        }
    }
}