$primary-color: #00bfff;
$secondary-color: #ff6600;

$white-color: #ffffff;
$black-color: #000000;

// gray colors
$gray-color-800: #404040;
$gray-color-900: #262626;

// social media icons
$pdf-color: #b30b00;
$email-color: #c5221f;
$github-color: #6f42c1;
$linkedin-color: #007fbc;
$telegram-color: #3390ec;

//transparent colors
$primary-color-transparent: rgba(0, 191, 255, 0.7);
$secondary-color-transparent: rgba(255, 102, 0, 0.7);

$black-color-transparent: rgba(0, 0, 0, 0.8);
$gray-color-transparent: rgba(255, 255, 255, 0.5);