@use './functions' as *;

// ======== FONTS SIZE ========
$h1-size: dynamic-size(40, 28);
$h2-size: dynamic-size(30, 22);
$h3-size: dynamic-size(26, 20);
$h4-size: dynamic-size(22, 18);
$h5-size: dynamic-size(20, 16);
$h6-size: dynamic-size(18, 14);
$p-size: dynamic-size(16, 14);