@use '../../styles/abstracts' as *;

.about {
    display: flex;
    width: 100%;
    gap: rem(32);

    &__container {
        display: flex;
        flex-direction: column;
        gap: rem(24);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__header {
        display: flex;
        flex-direction: column;

        &-title {
            @include text-styles($h1-size, $white-color, Tight);
        }

        &-subtitle {
            @include text-styles($h2-size, $secondary-color, Rubik);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: rem(8);

        &-title {
            @include text-styles($h2-size, $white-color, Tight);
        }

        &-description {
            @include text-styles($p-size, $white-color, Rubik);
            text-align: justify;
        }
    }

    &__photo {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        &-img {
            display: flex;
            cursor: pointer;
            width: dynamic-size(240, 120);
            max-width: dynamic-size(240, 120);
            height: dynamic-size(240, 120);
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

@media (max-width: 1024px) {
    .about__inner {
        display: flex;
        justify-content: space-evenly;
        gap: rem(16);
    }

    .about__header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: rem(16);
    }
}