@use '../../styles/abstracts' as *;

.about {
    display: flex;
    width: 100%;
    gap: dynamic-size(48, 16);

    &__container {
        display: flex;
        flex-direction: column;
        gap: rem(24);
    }

    &__header {
        display: flex;
        flex-direction: column;

        &-title {
            @include text-styles(dynamic-size(48, 24), $white-color, Tight);
        }

        &-subtitle {
            @include text-styles(dynamic-size(24, 16), $secondary-color, Rubik);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: rem(8);

        &-title {
            @include text-styles(dynamic-size(24, 16), $white-color, Tight);
        }

        &-description {
            @include text-styles(dynamic-size(18, 14), $white-color, Rubik);
            text-align: justify;
        }
    }

    &__photo {
        display: flex;
        align-items: flex-start;

        &-img {
            display: flex;
            cursor: pointer;
            width: dynamic-size(240, 120);
            max-width: dynamic-size(240, 120);
            height: dynamic-size(240, 120);
            border-radius: 50%;
            object-fit: cover;
        }
    }
}