@use "../../styles/Variables.module.scss" as variables;
@use "../../styles/Fonts.module.scss";
@use "../../styles/Mixins.module.scss" as mixins;

.about {
    display: flex;
    padding: 24px 96px;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .about__info {
            display: flex;
            flex-direction: column;

            .about__header {
                &-title {
                    @include mixins.text-styles(48px, variables.$white-color, Tight);
                }

                &-subtitle {
                    @include mixins.text-styles(24px, variables.$white-color, Rubik);
                }
            }

            .about__social {
                display: flex;
                flex-direction: column;
                gap: 8px;
                margin-top: 32px;

                &-contact {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    max-width: max-content;

                    &-icon {
                        font-size: 16px;
                        transition: color 0.3s ease-in-out;
                        color: variables.$white-color;
                    }

                    &-text,
                    &-link {
                        @include mixins.text-styles(16px, variables.$white-color, Rubik);

                        .time-text {
                            font-style: italic;
                        }
                    }

                    &-link {
                        color: variables.$white-color;
                        text-decoration: underline;
                        text-decoration-color: variables.$secondary-color-transparent;
                        text-underline-offset: 3px;
                        transition: color 0.3s ease-in-out, text-decoration-color 0.3s ease-in-out;

                        &:hover {
                            color: variables.$secondary-color;
                            text-decoration-color: variables.$secondary-color;
                        }
                    }
                }
            }
        }

        .about__photo {
            display: flex;
            align-items: flex-end;

            &-img {
                width: 240px;
                height: 240px;
                border-radius: 50%;
                object-fit: cover;
                object-position: 0% 25%;
            }
        }
    }
}

$social-colors: (
    pdf: variables.$pdf-color,
    email: variables.$email-color,
    linkedin: variables.$linkedin-color,
    telegram: variables.$telegram-color,
    skype: variables.$skype-color,
    github: variables.$github-color
);

@each $name, $color in $social-colors {
    .about__social-contact:hover .about__social-contact-icon--#{$name} {
        color: $color;
        transform: scale(1.3);
        will-change: transform;
        transition: transform 0.3s ease;
    }
}

.about__description {
    color: white;
}