@mixin text-styles($size, $color, $family: "", $weight: normal, $text-decoration: none) {
    font-size: $size;
    color: $color;
    font-family: $family;
    font-weight: $weight;
    text-decoration: $text-decoration;
}