@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tight';
    src: url('fonts/InterTight-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}