@use '../../styles/abstracts' as *;

.contacts-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    padding: 0 0 0 dynamic-size(32, 16);
    z-index: 998;
    top: 33%;
    align-self: start;
    min-width: max-content;
    grid-area: contacts-panel;

    &__menu {

        &-list {
            display: flex;
            flex-direction: column;
            gap: rem(12);
        }

        &-item {
            display: flex;
            max-width: max-content;
        }

        &-icon {
            display: flex;
            align-items: center;
            @include text-styles($p-size, $white-color);
            transition: color 0.2s ease;
        }

        &-time,
        &-text,
        &-link {
            display: flex;
            column-gap: rem(8);
            @include text-styles($p-size, $white-color, Rubik);
            padding: rem(4);
        }

        &-link {
            text-decoration: underline;
            text-decoration-color: $secondary-color-transparent;
            text-underline-offset: rem(4);
            transition: color 0.2s ease, text-decoration-color 0.2s ease;

            &:hover {
                color: $secondary-color;
                text-decoration-color: $secondary-color;
            }
        }
    }

    #resume {
        animation: pulse--pdf 8s infinite;
        border-radius: rem(8);
    }

    @keyframes pulse--pdf {

        0% {
            box-shadow: 0 0 0 0 $black-color-transparent;
        }

        10% {
            box-shadow: 0 0 rem(16) 0 $gray-color-transparent;
        }

        50% {
            box-shadow: 0 0 0 0 $black-color-transparent;
        }

        100% {
            box-shadow: 0 0 0 0 $black-color-transparent;
        }
    }
}

@each $name, $color in $social-colors {
    .contacts-panel__menu-item:hover .contacts-panel__menu-icon--#{$name} {
        color: $color;
        transform: scale(1.1);
        will-change: transform;
        transition: transform 0.2s ease;
    }
}

@media (max-width: rem(768)) {
    .contacts-panel {
        display: none;
    }
}