@use "../../styles/variables" as variables;
@use "../../styles/mixins" as mixins;
@use "../../styles/functions" as *;

.contacts-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    padding: 0 0 0 dynamic-size(32, 16);
    z-index: 998;
    top: 33%;
    align-self: start;
    min-width: max-content;
    grid-area: contacts-panel;

    &__menu {

        &-list {
            display: flex;
            flex-direction: column;
            gap: rem(12);
        }

        &-item {
            display: flex;
            max-width: max-content;
        }

        &-icon {
            display: flex;
            align-items: center;
            font-size: dynamic-size(16, 14);
            transition: color 0.3s ease-in-out;
            color: variables.$white-color;
        }

        &-time,
        &-text,
        &-link {
            @include mixins.text-styles(dynamic-size(16, 14), variables.$white-color, Rubik);
            display: flex;
            column-gap: rem(8);
            padding: rem(4);
        }

        &-link {
            text-decoration: underline;
            text-decoration-color: variables.$secondary-color-transparent;
            text-underline-offset: rem(4);
            transition: color 0.3s ease-in-out, text-decoration-color 0.3s ease-in-out;

            &:hover {
                color: variables.$secondary-color;
                text-decoration-color: variables.$secondary-color;
            }
        }
    }

    #resume {
        animation: pulse--pdf 10s infinite;
        border-radius: rem(8);
    }

    @keyframes pulse--pdf {

        0% {
            box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
        }

        10% {
            box-shadow: 0 0 0 rem(4) rgba(200, 200, 200, 0.7);
        }

        30% {
            box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
        }

        100% {
            box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
        }
    }
}

$social-colors: (
    pdf: variables.$pdf-color,
    email: variables.$email-color,
    linkedin: variables.$linkedin-color,
    telegram: variables.$telegram-color,
    skype: variables.$skype-color,
    github: variables.$github-color
);

@each $name, $color in $social-colors {
    .contacts-panel__menu-item:hover .contacts-panel__menu-icon--#{$name} {
        color: $color;
        transform: scale(1.2);
        will-change: transform;
        transition: transform 0.5s ease;
    }
}