@use '../../styles/abstracts' as *;

.anchor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    padding: 0 dynamic-size(32, 16) 0 0;
    z-index: 998;
    top: 33%;
    align-self: start;
    min-width: max-content;
    grid-area: anchor;

    &__menu {

        &-list {
            display: flex;
            flex-direction: column;
        }

        &-item {
            &>.active {
                color: $secondary-color;
                border-left-color: $secondary-color;
            }
        }

        &-link {
            display: flex;
            @include text-styles(dynamic-size(16, 14), $white-color, Rubik);
            padding: rem(8) 0 rem(8) rem(16);
            border-left: rem(2) solid $gray-color-900;
            transition: color 0.2s ease, border-color 0.2s ease;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}

@media (max-width: 768px) {
    .anchor {
        display: none;
    }
}