@use "../../styles/variables.scss" as variables;
@use "../../styles/mixins.scss" as mixins;
@use "../../styles/functions" as *;

.anchor {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: rem(16);
    position: sticky;
    padding: 0 dynamic-size(48, 24) 0 0;
    z-index: 998;
    top: 33%;
    align-self: start;
    min-width: max-content;
    grid-area: anchor;

    &__hr {
        margin: 0;
    }

    &__nav {
        &-list {
            display: flex;
            flex-direction: column;
            gap: rem(8);

            &>li>a {
                @include mixins.text-styles(rem(16), variables.$white-color, Rubik);
                transition: color 0.3s;

                &:hover {
                    color: variables.$secondary-color;
                }
            }
        }
    }
}