@use '../../styles/abstracts' as *;

.anchor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    padding: 0 dynamic-size(32, 16) 0 0;
    z-index: 998;
    top: 33%;
    align-self: start;
    min-width: max-content;
    grid-area: anchor;

    @include tablet {
        display: none;
    }

    &__menu {
        width: rem(185);
        max-width: 100%;

        &-list {
            display: flex;
            flex-direction: column;
        }

        &-item {
            &>.anchor__menu-link--active {
                color: $secondary-color;
                border-left-color: $secondary-color;
            }
        }

        &-link {
            display: flex;
            @include text-styles($p-size, $white-color, Rubik);
            padding: rem(8) 0 rem(8) rem(16);
            border-left: rem(2) solid $gray-color-900;
            transition: color 0.2s ease, border-color 0.2s ease;

            @include hover {
                color: $secondary-color;
            }
        }
    }
}