@use '../../styles/abstracts' as *;

.header {
    max-width: rem(1920);
    height: rem(96);
    padding: rem(4) rem(32);
    top: 0;
    left: 0;
    background-color: $black-color;
    position: sticky;
    display: flex;
    z-index: 1001;
    opacity: 0.9;
    grid-area: header;
    align-items: center;
    justify-content: space-between;

    &__logo {
        @include text-styles(dynamic-size(56, 40), $white-color, Pacifico);
        transition: transform 0.2s ease;
        will-change: transform;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__menu {

        &-list {
            display: flex;
            gap: rem(24);
        }

        &-item {}

        &-link {
            @include text-styles(dynamic-size(16, 14), $white-color, Rubik);
            transition: color 0.2s ease;

            &:hover {
                color: $secondary-color;
            }
        }
    }

    &__controls {
        display: flex;
        gap: rem(8);

        .header__language-switch {
            display: flex;

            &-stick {
                @include text-styles(dynamic-size(16, 14), $white-color, Rubik);
            }

            &-btn {
                background: none;
                border: none;
                cursor: pointer;
                @include text-styles(dynamic-size(16, 14), $white-color, Tight);
                border-radius: rem(4);
                transition: background-color 0.2s ease;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}