@use "../../styles/Variables.module.scss" as variables;
@use "../../styles/Fonts.module.scss";

.header {
    width: 100%;
    height: 100px;
    padding: 5px 20px;
    background-color: variables.$background-color-black;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;

    &__logo-nav {
        display: flex;
        align-items: center;
    }

    &__logo {
        text-decoration: none;

        &-link {
            font-size: 56px;
            font-family: Pacifico;
            color: variables.$text-color-white;
            text-decoration: none;
            transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out;
            line-height: 1.5;

            &:hover {
                animation: colorFadeLight 2.5s infinite alternate ease-in-out;
            }
        }
    }

    &__nav {
        margin-left: 40px;
    }
}

.nav__list {
    display: flex;
    gap: 24px;
}

.nav__link {
    font-size: 16px;
    color: variables.$text-color-white;
    font-family: Rubik;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
        color: variables.$primary-color;
    }
}

// @keyframes colorFadeLight {
//     0% {
//         color: variables.$text-color-white;
//         text-shadow: none;
//         opacity: 0.6;
//     }

//     50% {
//         color: variables.$primary-color;
//         text-shadow: 0 0 8px rgba(variables.$primary-color, 0.7);
//         opacity: 0.8;
//     }

//     100% {
//         color: variables.$secondary-color;
//         text-shadow: 0 0 15px rgba(variables.$secondary-color, 0.9);
//         opacity: 1;
//     }
// }

// @keyframes colorFadeDark {
//     0% {
//         color: variables.$text-color-white;
//         text-shadow: none;
//         opacity: 0.6;
//     }

//     50% {
//         color: variables.$secondary-color;
//         text-shadow: 0 0 8px rgba(variables.$secondary-color, 0.7);
//         opacity: 0.8;
//     }

//     100% {
//         color: variables.$primary-color;
//         text-shadow: 0 0 15px rgba(variables.$primary-color, 0.9);
//         opacity: 1;
//     }
// }

// .dark-theme .header__logo-link:hover {
//     animation: colorShiftDark 2.5s infinite alternate;
// }