@use '../../styles/abstracts' as *;

.header {
    max-width: rem(1920);
    height: rem(96);
    padding: rem(4) rem(32);
    top: 0;
    left: 0;
    background-color: $black-color;
    position: sticky;
    display: flex;
    z-index: 1001;
    opacity: 0.9;
    grid-area: header;
    align-items: center;
    justify-content: space-between;
    gap: dynamic-size(80, 16);

    &__logo {
        @include text-styles(dynamic-size(56, 40), $white-color, Pacifico);
        will-change: transform;
        transition: transform 0.2s ease;

        @include hover {
            transform: scale(1.1);
        }
    }

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @include mobile {
            position: fixed;
            inset: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: rem(32);
            height: 100%;
            opacity: 1;
            background-color: $black-color;
            transform: translateX(100%);
            overflow-y: auto;
            padding: rem(24) rem(0) rem(24) rem(0);

            &.is-active {
                transform: translateX(0);
            }
        }
    }

    &__menu {
        @include mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
        }

        &-list {
            display: flex;
            gap: rem(24);

            @include mobile {
                flex-direction: column;
                gap: rem(16);
            }
        }

        &-link {
            @include text-styles($p-size, $white-color, Rubik);
            transition: color 0.2s ease;

            @include hover {
                color: $secondary-color;
            }
        }
    }

    &__controls {
        display: flex;
        gap: rem(8);

        @include mobile {}

        .header__language-switch {
            display: flex;
            gap: rem(4);

            @include mobile {
                display: flex;
                align-items: center;
            }

            &-stick {
                @include text-styles($p-size, $white-color, Rubik);
            }

            &-btn {
                background: none;
                border: none;
                mix-blend-mode: luminosity;
                opacity: 0.7;
                filter: grayscale(100%) contrast(80%) brightness(80%);
                transition: opacity 0.2s ease, transform 0.2s ease;

                &.active {
                    mix-blend-mode: normal;
                    filter: none;
                    opacity: 1;
                    transform: scale(1.1);
                }

                .header__language-switch-icon {
                    display: flex;
                    width: rem(32);
                }
            }
        }
    }

    &__burger-button {
        display: none;
        background: none;
        border: none;
        color: $white-color;

        @include mobile {
            display: flex;
            position: relative;
            z-index: 1002;
        }
    }
}