@use '../../styles/abstracts' as *;

.footer {
    display: flex;
    color: white;
    padding: rem(30) 0;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    grid-area: footer;
    max-width: rem(10);

    hr {
        margin: 0 0 rem(10) 0;
        width: 100%;
    }
}