@use '../../../styles/abstracts' as *;

.modal__close--button {
    position: absolute;
    top: rem(-16);
    right: rem(-16);
    width: rem(32);
    height: rem(32);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    transition: background-color 0.2s;

    &:hover {
        color: red;
        background-color: rgba(200, 200, 200, 1);
    }
}