@use '../abstracts/' as *;

* {
    // outline: rem(2) solid green !important; //Uncomment if there was horizontal scrolling
}

html {
    // Prevents browsers from automatically adjusting text size
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; // For Safari, Chrome
    -moz-text-size-adjust: 100%; // For Firefox
    -ms-text-size-adjust: 100%; // For Internet Explorer

    &.is-lock {
        overflow: hidden;
    }
}

body {
    // overflow-x: hidden; //With the right layout, this is not needed
    background-color: rgba(0, 0, 0, 0.95);
    z-index: -1000;
}

section {
    scroll-margin-top: rem(96);
}

::-webkit-scrollbar {
    width: rem(8);
}

::-webkit-scrollbar-track {
    background-color: $black-color;
}

::-webkit-scrollbar-thumb {
    background-color: $gray-color-900;
    border-radius: rem(4);
    transition: background-color 0.2s ease;

    @include hover {
        background-color: $gray-color-800;
    }
}